@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;700&display=swap');

/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Fira Sans', sans-serif; */
body {
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    max-width: 1440px;
    place-items: center;
    background: linear-gradient(-45deg,
            rgb(75, 75, 75),
            rgb(126, 126, 126),
            rgb(150, 150, 151),
            rgb(204, 204, 209),
            rgb(255, 255, 255));
    background-attachment: fixed;
}

a {
    color: currentColor;
}

.intro {
    grid-area: header;
    border: 3px solid rgba(0, 0, 0, 0.164);
    border-radius: 20px;
    font-size: 2em;
    width: 80%;
    text-align: center;
    font-weight: 500;
    
}

.link {
    color: rgb(7, 51, 248);
}

.container {
    grid-area: main;
    text-align: center;
    font-size: 1.3em;
    
}

.container article {
    display: grid;
    width: 100vw;
    grid-template-columns: 50% 50%;
    
    
}

.challenges {
    width: 100%;
}

.scroll-menu {
    border-radius: 20px;
    border: 3px solid rgba(0, 0, 0, 0.164);
    background-color: rgba(255, 255, 255, 0.164);
    width: 70%;
    height: 400px;
    overflow: hidden scroll;
    margin: 0 auto;

    
}

.scroll-menu::-webkit-scrollbar {
    display: none;
}

.bt {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 255);
    color: white;
    border-radius: 25px;
    padding: 10px;
    margin: 10px auto;

    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.1);
}

.bt:hover,
.br:focus {
    background-color: rgb(5, 5, 177);
}

.d1-10 {
    cursor: pointer;
}
h4{
    background-color: white;
    border-bottom: 2px solid rgba(0, 0, 0, 0.377);
    position: sticky;
    top: 0;
}
footer{
    grid-area: footer;
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
    margin-top: 50px;
    width: 100vw;
}
/* .center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.text{
    text-align: justify;
    letter-spacing: 1px;
    text-indent: 1.5em;
    padding: 0 30px;
    max-width: 900px;
} */
@media(max-width:375px) {

    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        height: 100vh;
        max-width: 1440px;
        background: linear-gradient(-45deg,
                rgb(75, 75, 75),
                rgb(126, 126, 126),
                rgb(150, 150, 151),
                rgb(204, 204, 209),
                rgb(255, 255, 255));
        background-attachment: fixed;
    }

    a {
        color: currentColor;
    }

    .intro {
        margin: 20px;
        font-size: 1em;
        text-align: center;
        flex-wrap: wrap;
    }

    .link {
        color: rgb(7, 51, 248);
    }

    .container {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 1.3em;
        min-height: 100vh;
        margin: 0 7px;
    }

    .container article {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 50px 0;
    }

    .challenges {
        width: 100%;
    }

    .scroll-menu {
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.164);
        height: 245px;
        overflow: hidden scroll;
        margin: 20px 0px;
    }

    .scroll-menu::-webkit-scrollbar {
        display: none;
    }

    .bt {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(0, 0, 255);
        color: white;
        width: 97%;
        border-radius: 25px;
        padding: 10px;
        margin: 10px auto;

        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
        box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.1);
    }

    .bt:hover,
    .br:focus {
        background-color: rgb(5, 5, 177);
    }

    .d1-10 {
        cursor: pointer;
    }
}