@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 30px;

    background: linear-gradient(-45deg,
            rgb(75, 75, 75),
            rgb(126, 126, 126),
            rgb(150, 150, 151),
            rgb(204, 204, 209),
            rgb(255, 255, 255));
    background-attachment: fixed;
}
a{
    color: currentColor;
}
.intro {
    float: left center;
    font-size: 2em;
    text-align: center;
    flex-wrap: wrap;
}
.link{
    
    color: rgb(7, 51, 248);
}
.container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    gap: 10px;
    padding: 30px 0px;
    font-size: 1.3em;
}
.menu-one{
}
.Mmwnu-two{
}
.bt{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 255);
    color: white;
    width: 150px;
    height: 70px;
    border-radius: 5px;
    padding: 5px;
    margin: 10px auto;

    text-shadow: 2px 2px 4px  rgba(0, 0, 0, 0.6);
    box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.1);
}
.bt:hover,.br:focus{
    background-color: rgb(5, 5, 177) ;
}
.d1-10{
    cursor: pointer;
}
@media(max-width:375px){
   
    .intro{
        font-size: 1em;
    }
    .container{
        font-size: 1em;
    }
}